<%- model_class = Pixel -%>
<div class='row-fluid'>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
          new_pixel_path,
          :class => 'btn btn-large btn-success pull-right' %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:tracking_code) %></th>
      <th><%= model_class.human_attribute_name(:target_url) %></th>
      <th><%= model_class.human_attribute_name(:CTR) %></th>
      <th><%= model_class.human_attribute_name(:hits) %></th>
      <th><%= model_class.human_attribute_name(:uniques) %></th>
      <th><%= model_class.human_attribute_name(:clicks) %></th>
      <th><%= model_class.human_attribute_name(:unique_clicks) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:last_hit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pixels.each do |pixel| %>
      <tr>
        <td><%= link_to "Show", pixel_path(pixel) %></td>
        <td class='longtext'><%= pixel_path(pixel) %></td>
        <td class='longtext'><%= link_to pixel.target_url, pixel.target_url if pixel.target_url %></td>
        <td><%= pixel.ctr.round(3) %>%</td>
        <td><%= pixel.hits.count %></td>
        <td><%= pixel.uniques.count %></td>
        <td><%= pixel.clicks.count %></td>
        <td><%= pixel.unique_clicks.count %></td>
        <td><%= timeago pixel.created_at %></td>
        <td><%= timeago (pixel.hits.last.created_at) if pixel.hits.any? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pixel_path(pixel), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pixel_path(pixel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
