<%- model_class = Pixel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<img src="<%= t_path %>" width='1' height='1'>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:hits) %></th>
      <th><%= model_class.human_attribute_name(:uniques) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:last_hit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pixels.each do |pixel| %>
      <tr>
        <td><%= link_to pixel.code, pixel_path(pixel) %></td>
        <td><%= pixel.hits.count %></td>
        <td><%= pixel.uniques.count %></td>
        <td><%=l pixel.created_at %></td>
        <td><%= l(pixel.hits.last.created_at) if pixel.hits.any? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pixel_path(pixel), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pixel_path(pixel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pixel_path,
            :class => 'btn btn-primary' %>
