<%- model_class = Pixel -%>
<div class='row-fluid'>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
          new_pixel_path,
          :class => 'btn btn-large btn-success pull-right' %> 
          <% unless @tags.blank? %>
            <small>tagged with 
              <% @tags.split(',').each_with_index do |tag, i| %>
                <%= ", " if i != 0 %>"<%= tag %>"
              <% end %>
            </small>
          <% end %>

           </h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:tracking_code) %> | <%= model_class.human_attribute_name(:target_url) %></th>
      <!-- TODO color CTR based on reletive rank in the tag -->
      <th><%= model_class.human_attribute_name(:CTR) %></th>
      <th>
        <%= model_class.human_attribute_name(:uniques) %> out of all  
        <span class="label label-info"><%= model_class.human_attribute_name(:hits) %></span>
      </th>
      <th>
        <%= model_class.human_attribute_name(:unique_clicks) %> out of all 
        <span class="label label-success"><%= model_class.human_attribute_name(:clicks) %></span> 
      </th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:last_hit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @pixels %>
  </tbody>
</table>
